/.classpath
/.project
/.settings
/eclipse
/.idea
*.iml
*.ipr
*.iws

/bin
/build
/target
/gradle
.gradle
/forge-download
/out
/*/build
/run
/worldedit-forge/run

/dependency-reduced-pom.xml
*-private.sh